*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

main{
  background-color: brown;
}

.col{
  float: left;
}

.col-left{
  width: 30%;
  background-color: aquamarine;
  height: 500px;
}

.col-right{
  width: 70%;
  background-color: blueviolet;
  height: 700px;
}
