*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

header{
  height: 100px;
  background-color: blue;
}

main{
  background-color: brown;
  text-align: justify;
  padding: 20px 0;
}
p{
  margin-bottom: 20px;
}

.col{
  float: left;
}

.col-left p:first-child{

  background-color: antiquewhite;
}

.col-left{
  width: 29%;
  margin-right: 1%;
}

.col-right{
  width: 70%;
  background-color: aquamarine;
}

footer{
  height: 70px;
  background-color: blueviolet;
  text-align: center;
  padding: 20px;
}

footer a{
  display: inline-block;
  padding: 10px 20px;
  background-color: darkorange;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
}

footer a:hover{
  opacity: .8;
}
